body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* fundo branco */
    color: #ff0; /* texto amarelo */
}

.content {
    text-align: center;
    margin: 50px;
}

.sidebar {
    float: left;
    width: 200px;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    clear: both;
    background-color: #fff;
    color: #ff0;
    text-align: center;
    padding: 1em;
}
